body{
    background-color: peachpuff;
    color: chocolate;
    border: 1px dashed;
    padding: 1rem;
}

.page-subject{
    font-weight: bold;
    color: cadetblue;
}

img{
    width: 300px;
    height: auto;
}

h2{
    font-weight: bold;
    color: royalblue;
}

h3{
    font-weight: bold;
    color: darkorange;
}

ul ,ol{
    color: brown;
    font-size: 20px;
}

.flex-container{
    display: flex;
}
.flex-container .col{
    flex-direction: column;
}

.flex-item{
    flex: 1;
    border: 1px dashed green;
    margin: 10px;
}

.subheading{
    margin: 8px;
    display: block;
}